<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <a href="./index.html" class="header-logo header-link"
        >SIMPLY CHOCOLATE</a
      >
      <svg class="header-logo-icon">
        <use href="/header-icons/header-icons.svg#icon-chocolate"></use>
      </svg>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item header-list">
          <a href="#" class="header-nav-link header-link">Home</a>
        </li>
        <li class="header-nav-item header-list">
          <a href="#" class="header-nav-link header-link">How it’s made?</a>
        </li>
        <li class="header-nav-item header-list">
          <a href="#" class="header-nav-link header-link">Our products</a>
        </li>
        <li class="header-nav-item header-list">
          <a href="#" class="header-nav-link header-link">Top sellers</a>
        </li>
        <li class="header-nav-item header-list">
          <a href="#" class="header-nav-link header-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-list">
          <svg class="header-contacts-icon">
            <use href="/header-icons/header-icons.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="header-list">
          <svg class="header-contacts-icon">
            <use href="/header-icons/header-icons.svg#icon-twitter"></use>
          </svg>
        </li>
      </ul>
    </div>
    <button class="header-btn-hamburger">
      <svg class="header-btn-hamburger-svg">
        <use href="/header-icons/header-icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
</header>
<div class="header-mobile-menu">
  <button class="header-btn-close">
    <svg class="header-btn-close-svg">
      <use href="/header-icons/header-icons.svg#icon-x"></use>
    </svg>
  </button>
  <nav class="header-mobile-nav">
    <ul class="header-nav-mobile-list">
      <li class="header-nav-item header-list">
        <a href="#" class="header-nav-link header-link">Home</a>
      </li>
      <li class="header-nav-item header-list">
        <a href="#" class="header-nav-link header-link">How it’s made?</a>
      </li>
      <li class="header-nav-item header-list">
        <a href="#" class="header-nav-link header-link">Our products</a>
      </li>
      <li class="header-nav-item header-list">
        <a href="#" class="header-nav-link header-link">Top sellers</a>
      </li>
      <li class="header-nav-item header-list">
        <a href="#" class="header-nav-link header-link">Chocolate is loved</a>
      </li>
    </ul>
  </nav>
  <div class="header-mobile-contacts">
    <ul class="header-contacts-list">
      <li class="header-list">
        <svg class="header-contacts-icon">
          <use href="/header-icons/header-icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="header-list">
        <svg class="header-contacts-icon">
          <use href="/header-icons/header-icons.svg#icon-twitter"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
