<header>
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo link">SIMPLY CHOCOLATE</a>
      <svg class="logo-icon">
        <use href="../header-icons/header-icons.svg#icon-chocolate"></use>
      </svg>

      <ul class="nav-list">
        <li class="nav-item list">
          <a href="#" class="nav-link link">Home</a>
        </li>
        <li class="nav-item list">
          <a href="#" class="nav-link link">How it’s made?</a>
        </li>
        <li class="nav-item list">
          <a href="#" class="nav-link link">Our products</a>
        </li>
        <li class="nav-item list">
          <a href="#" class="nav-link link">Top sellers</a>
        </li>
        <li class="nav-item list">
          <a href="#" class="nav-link link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <ul class="contacts-list">
        <li class="list">
          <svg class="contacts-icon">
            <use href="../header-icons/header-icons.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="list">
          <svg class="contacts-icon">
            <use href="../header-icons/header-icons.svg#icon-twitter"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
