<section class="hero">
  <div class="hero-container">
    <h1 hidden>hero text simple</h1>
    
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <ul class="hero-list">
      <li class="hero-item">
        <button
          class="buy-button js-open-modal primary-button"
          data-modal="1"
          type="button"
        >
          Buy now
        </button>
      </li>
      <li class="hero-item">
        <a href="" class="how-its-made-button"> How it’s made </a>
      </li>

      <li class="hero-item scroll">
        <a class="scroll-box" href="#footer">
          <span class="scroll-text">scroll down</span>
          <span class="scroll-button">
            <svg class="svg-scroll" width="12" height="12">
              <use href="/hero-icons/hero-icons.svg#icon-Vector"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
    <button class="top-btn" id="toTop" aria-label="Go to top" title="Go to top">
      <svg class="top-btn-icon" width="30" height="14">
        <use href="/hero-icons/hero-icons.svg#icon-Vector"></use>
      </svg>
    </button>
  </div>
</section>