<section class="hero-section">

  <div class="hero-container" data-modal>

    <p hidden>Hero text</p>

  <h1 class="hero-text">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>

  
      <button class="orange-btn" type="button" data-modal-open>Buy now</button>

  <button class="second-btn" type="button">How it’s made</button>
 
  <div class="scrolling">
  <p class="scroll-down">Scroll down</p>
  <svg class="scroll-icon" width="30" height="30">
<use href="/hero-icons/hero-icons.svg#icon-Vector">
    </use>
  </svg>
</div>
  </div>

</section>