<section class="production">
  <div class="production-container">
    <h2 class="production-title">
      how it's <span class="production-highlight">made?</span>
    </h2>
    <div class="production-card">
      <a href="" target="_blank" noreferrer noopener>
        <div class="screenshot-thumb">
          <svg class="play-icon" width="35" height="35">
            <use href="../how its made/play (1).svg"></use>
          </svg>
          <img
            class="screenshot"
            srcset="
              ../how its made/mobileimage@1x-335.jpeg 335w,
              ../how its made/desktopimage@1x-600.jpg 600w,
              ../how its made/tabletimage@1x-614.jpeg 614w,
              ../how its made/mobileimage@2x-670.jpeg 670w,
              ../how its made/desktopimage@2x-1200.jpeg 1200w,
              ../how its made/tabletimage@2x-1228.jpeg 1228w "
            sizes="(min-width: 1200px) 600px,
                   (min-width: 768px) 614px,
                    (min-width: 375px) 335px, 100vw"
            src="../how its made/mobileimage@1x-335.jpeg"
            alt="Chocolate preparation"
            widht="335"
            height="500"
          />
        </div>
      </a>
      <div class="production-process">
        <ul class="production-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
          <li class="production-decribtion">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="production-decribtion">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="production-decribtion">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="production-decribtion">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="production-decribtion">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
