<section class="production">
  <div class="production-container">
    <h2 class="production-title">
      how it's <span class="production-highlight">made?</span>
    </h2>
    <div class="production-card">
      <div class="screenshot-thumb">
        <img
          srcset="
            ../howitsmade/mobileimage@1x-335.jpeg    335w,
            ../howitsmade/desktopimage@1x-600.jpg    600w,
            ../howitsmade/tabletimage@1x-614.jpeg    614w,
            ../howitsmade/mobileimage@2x-670.jpeg    670w,
            ../howitsmade/desktopimage@2x-1200.jpeg 1200w,
            ../howitsmade/tabletimage@2x-1228.jpeg  1228w
          "
          sizes="(min-width: 1200px) 600px,   
        (min-width: 768px) 614px,
                    (min-width: 375px) 335px, 100vw "
          src="../howitsmade/mobileimage@1x-335.jpeg"
          alt="Chocolate preparation"
          width="100%"
          height="100%"
        />
        <span class="play-btn">
          <svg class="play-item" width="35" height="35">
            <use href="../howitsmade/icon/play1.svg#icon-playbtn"></use>
          </svg>
        </span>
      </div>
      <div class="production-process">
        <h3 class="production-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="production-list">
          <li class="production-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="production-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="production-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="production-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="production-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
