<section class="section">
  <div class="container">
    <h2 class="section-header">Our <span class="section-header orange-txt">products</span></h2>
    <ul class="products">
      <li class="prod-item">
        <img
          src="./image/our-products/orange-cho.jpg"
          alt="orange Dark chocolate"
          class="prod-image orange"
          width="230"
          height="201"
        />
        <h3 class="prod-name">orange</h3>
        <p class="prod-sort">Dark chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">45</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/apple-cranberry.jpg"
          alt="apple & cranberry Milk chocolate"
          class="prod-image apple-cranberry"
          width="230"
          height="201"
        />
        <h3 class="prod-name">apple&cranberry</h3>
        <p class="prod-sort">Milk chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">50</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/lime-salt.jpg"
          alt="lime & sea salt Dark chocolate"
          class="prod-image lime-salt"
          width="230"
          height="201"
        />
        <h3 class="prod-name">lime&sea salt</h3>
        <p class="prod-sort">Dark chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">66</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/pineapple.jpg"
          alt="pineapple Dark chocolate"
          class="prod-image pineapple"
          width="230"
          height="201"
        />
        <h3 class="prod-name">pineapple</h3>
        <p class="prod-sort">Dark chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">54</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/classic-m.jpg"
          alt="classic milk chocolat"
          class="prod-image classic-m"
          width="230"
          height="201"
        />
        <h3 class="prod-name">Classic</h3>
        <p class="prod-sort">Milk chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">45</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/honey.jpg"
          alt="honey Milk chocolate"
          class="prod-image honey"
          width="230"
          height="201"
        />
        <h3 class="prod-name">honey</h3>
        <p class="prod-sort">Milk chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">50</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/orange.jpg"
          alt="Roasted fruits Dark chocolate"
          class="prod-image roasted-fruits"
          width="230"
          height="201"
        />
        <h3 class="prod-name">Roasted fruits</h3>
        <p class="prod-sort">Dark chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">66</span>uah</button>
      </li>
      <li class="prod-item">
        <img
          src="./image/our-products/classic-w.jpg"
          alt="classic white chocolate"
          class="prod-image classic-w"
          width="230"
          height="201"
        />
        <h3 class="prod-name">Classic</h3>
        <p class="prod-sort">White chocolate</p>
        <button class="prod-price-btn"><span class="price-sign">54</span>uah</button>
      </li>
    </ul>
  </div>
</section>