<!--cccccccccccc OUR PRODUCTS ccccccccccc -->
<section class="section-products" id="products">
  <div class="container-products ">
    <h2 class="section-header"> Our <span class="section-header orange-txt">products</span> </h2>
    <div class="prod-thumb swiper1">
      <ul class="prod-items swiper-wrapper list">
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/orange-cho.jpg 1x, /images/our-products/orange-cho@2x.jpg 2x"
            src="/images/our-products/orange-cho.jpg"
            alt="orange Dark chocolate"
            class="prod-image orange"
            width="230"
            height="201"
          />
          <h3 class="prod-name">orange</h3>
          <p class="prod-sort">Dark chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">45</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/apple-cranberry.jpg 1x, /images/our-products/apple-cranberry@2x.jpg 2x"
            src="/images/our-products/apple-cranberry.jpg"
            alt="apple & cranberry Milk chocolate"
            class="prod-image apple-cranberry"
            width="230"
            height="201"
          />
          <h3 class="prod-name">apple&cranberry</h3>
          <p class="prod-sort">Milk chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">50</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/lime-salt.jpg 1x, /images/our-products/lime-salt@2x.jpg 2x"
            src="/images/our-products/lime-salt.jpg"
            alt="lime & sea salt Dark chocolate"
            class="prod-image lime-salt"
            width="230"
            height="201"
          />
          <h3 class="prod-name">lime&sea salt</h3>
          <p class="prod-sort">Dark chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">66</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/pineapple.jpg 1x, /images/our-products/pineapple@2x.jpg 2x"
            src="/images/our-products/pineapple.jpg"
            alt="pineapple Dark chocolate"
            class="prod-image pineapple"
            width="230"
            height="201"
          />
          <h3 class="prod-name">pineapple</h3>
          <p class="prod-sort">Dark chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">54</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/classic-m.jpg 1x, /images/our-products/classic-m@2x.jpg 2x"
            src="/images/our-products/classic-m.jpg"
            alt="classic milk chocolat"
            class="prod-image classic-m"
            width="230"
            height="201"
          />
          <h3 class="prod-name">Classic</h3>
          <p class="prod-sort">Milk chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">45</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/honey.jpg 1x, /images/our-products/honey@2x.jpg 2x"
            src="/images/our-products/honey.jpg"
            alt="honey Milk chocolate"
            class="prod-image honey"
            width="230"
            height="201"
          />
          <h3 class="prod-name">honey</h3>
          <p class="prod-sort">Milk chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">50</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/roasted-fruits.jpg 1x, /images/our-products/roasted-fruits@2x.jpg 2x"
            src="/images/our-products/roasted-fruits.jpg"
            alt="Roasted fruits Dark chocolate"
            class="prod-image roasted-fruits"
            width="230"
            height="201"
          />
          <h3 class="prod-name">Roasted fruits</h3>
          <p class="prod-sort">Dark chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">66</span> uah </button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="/images/our-products/classic-w.jpg 1x, /images/our-products/classic-w@2x.jpg 2x"
            src="/images/our-products/classic-w.jpg"
            alt="classic white chocolate"
            class="prod-image classic-w"
            width="230"
            height="201"
          />
          <h3 class="prod-name">Classic</h3>
          <p class="prod-sort">White chocolate</p>
          <button type="button" class="prod-price-btn"> <span class="price-sign">54</span> uah </button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>