<section class="section-reviews">
    <div class="container-review">
        <h2 class="title-review"><span class="different-logo">chocolate</span> is loved</h2>

        <ul class="review-list">
            <li class="review-item">
                <img src="/review/Victoria1.jpeg" alt="photo of the person who left a review" width="80" height="80"
                    class="review-img">
                <div class="review-info">
                    <h3 class="review-name">Victoria Dobrzhanska</h3>
                    <p class="main-review">I love this chocolate bar. Perfect combination of light crispy wafer, covered
                        in a thin layer chocolate.</p>
                </div>
            </li>
            <li class="review-item">
                <img src="/review/Nazar1.jpeg" alt="photo of the person who left a review" width="80" height="80"
                    class="review-img">
                <div class="review-info">
                    <h3 class="review-name">Nazar Babenko</h3>
                    <p class="main-review">This chocolate confection is a delight! A delight! The wafer is light and
                        crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
                </div>
            </li>
            <li class="review-item">
                <img src="/review/Olena1.jpeg" alt="photo of the person who left a review" width="80" height="80"
                    class="review-img">
                <div class="review-info">
                    <h3 class="review-name">Olena Kampusch</h3>
                    <p class="main-review">Chocolate is a family favourite treat. Love the delicious smooth chocolate
                        and the creaminess inside. The wafer is soft but crunchy.</p>
                </div>
            </li>
            <!-- <li class="review-item">
                <img src="../review/Natalia1.jpeg" alt="photo of the person who left a review" width="80" height="80" class="review-img">
                <div class="review-info">
                    <h3>Natalia Sus</h3>
                    <p>The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level.</p>
                </div>
            </li>
            <li class="review-item">
                <img src="../review/Danilo1.jpeg" alt="photo of the person who left a review" width="80" height="80" class="review-img">
                <div class="review-info">
                    <h3>Danilo Nottingham</h3>
                    <p>This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                </div>
            </li>
            <li class="review-item">
                <img src="../review/Irina1.jpeg" alt="photo of the person who left a review" width="80" height="80" class="review-img">
                <div class="review-info">
                    <h3>Irina Tydnyuk</h3>
                    <p>This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p>
                </div>
            </li> -->
        </ul>

        <button class="btn-review" type="button" data-modal-open-rvws>Leave a review</button>

    </div>

</section>