
    <sectiom class="section-review" id="review">
        <!-- Slider main container -->
        <div class="swiper container-review">
            <h2 class="title-review">
                <span class="different-logo">chocolate</span> is loved
            </h2>
            <!-- Additional required wrapper -->
            <ul class="review-list swiper-wrapper">
                <!-- Slides -->
                <li class="review-item swiper-slide">
                    <img src="/images/review/Victoria1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3 class="review-name">Victoria Dobrzhanska</h3>
                        <p class="main-review">
                            I love this chocolate bar. Perfect combination of light crispy
                            wafer, covered in a thin layer chocolate.
                        </p>
                    </div>
                </li>
                <li class="review-item swiper-slide">
                    <img src="/images/review/Nazar1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3 class="review-name">Nazar Babenko</h3>
                        <p class="main-review">
                            This chocolate confection is a delight! A delight! The wafer is
                            light and crisp, the hazelnut cream is smooth, and the chocolate is
                            good.
                        </p>
                    </div>
                </li>
                <li class="review-item swiper-slide">
                    <img src="/images/review/Olena1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3 class="review-name">Olena Kampusch</h3>
                        <p class="main-review">
                            Chocolate is a family favourite treat. Love the delicious smooth
                            chocolate and the creaminess inside. The wafer is soft but crunchy.
                        </p>
                    </div>
                </li>
                <li class="review-item swiper-slide">
                    <img src="/images/review/Natalia1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3>Natalia Sus</h3>
                        <p>
                            The chocolate assortment was delicious. Both dark and milk chocolate
                            pieces were smooth and just right on the sweetness level.
                        </p>
                    </div>
                </li>
                <li class="review-item swiper-slide">
                    <img src="/images/review/Danilo1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3>Danilo Nottingham</h3>
                        <p>
                            This is delicious. It so rich and flavorful you don’t need to use as
                            many. I love topping an apple with almond butter and these chips for
                            a snack.
                        </p>
                    </div>
                </li>
                <li class="review-item swiper-slide">
                    <img src="/images/review/Irina1.jpeg" alt="photo of the person who left a review" width="80"
                        height="80" class="review-img" />
                    <div class="review-info">
                        <h3>Irina Tydnyuk</h3>
                        <p>
                            This is simply the best chocolate around, and I'm just thrilled to
                            support a local company! Best local chocolate - world class :)
                        </p>
                    </div>
                </li>
            </ul>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <button type="button" class="btn-review" modal-rvws-open>
                Leave a review
            </button>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </sectiom>