<section class="section-top-sallers" id="top_sellers">
  <div class="container-top-sallers">
    <h2 class="section-header-top-sallers">
      <span class="accent">tOp </span>Sellers
    </h2>
    <ul class="list top-sallers-list">
      <li class="top-sallers-item">
        <img
          class="pict"
          srcset="
            ./images/topsallers/img01_335.jpg 335w,
            ./images/topsallers/img01_344.jpg 344w,
            ./images/topsallers/img01_368.jpg 268w,
            ./images/topsallers/img01_670.jpg 670w,
            ./images/topsallers/img01_688.jpg 688w,
            ./images/topsallers/img01_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./images/topsallers/img01_344.jpg"
          alt="Saller 1"
          width="368"
          height="464"
        />

        <p class="top-sallers-txt">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sallers-item">
        <img
          class="pict"
          srcset="
            <!-- ./images/topsallers/img02_344.jpg 335w, -->
            ./images/topsallers/img02_344.jpg 344w,
            ./images/topsallers/img02_368.jpg 368w,
            ./images/topsallers/img02_670.jpg 670w,
            ./images/topsallers/img02_688.jpg 688w,
            ./images/topsallers/img02_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="./images/topsallers/img02_344.jpg"
          alt="Saller 2"
          width="368"
          height="464"
        />
      </li>
      <li class="top-sallers-item">
        <img
          class="pict"
          srcset="
            ./images/topsallers/img03_368.jpg 1x,
            ./images/topsallers/img03_736.jpg 2x
          "
          src="./images/topsallers/img03_368.jpg"
          alt="Saller 3"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
    </ul>

    <button class="button bay-now-button" type="button" data-modal-open>
      Buy now
    </button>
  </div>
</section>
