<section class="section-top-sallers">
    <div class="container-top-sallers">

    <h2 class="section-header-top-sallers"><span class="accent">tOp </span>Sellers</h2> 
        <ul class="list top-sallers-list">
            <li class="top-sallers-item">
                <img
                class="pict"
                srcset="
                    /topsallers/img01_335.jpg 335w,
                    /topsallers/img01_344.jpg 344w,
                    /topsallers/img01_368.jpg 268w,                    
                    /topsallers/img01_670.jpg 670w,
                    /topsallers/img01_688.jpg 688w,
                    /topsallers/img01_736.jpg 736w
                    "
                sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"                    
                
                src="/topsallers/img01_344.jpg" 
                
                alt="Saller 1"

                width="368" height="464"
                >

                <p class="top-sallers-txt">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>

            </li>
            <li class="top-sallers-item">
                <img
                class="pict"

                srcset="
                /topsallers/img02_335.jpg 335w,
                /topsallers/img02_344.jpg 344w,
                /topsallers/img02_368.jpg 368w,                    
                /topsallers/img02_670.jpg 670w,
                /topsallers/img02_688.jpg 688w,
                /topsallers/img02_736.jpg 736w
                "
                sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"  
                
                src="/topsallers/img02_335.jpg"

                alt="Saller 2" 
                
                width="368" 
                height="464"
                >
            </li>
            <li class="top-sallers-item">
                <img
                class="pict"
                srcset="/topsallers/img03_368.jpg 1x, /topsallers/img03_736.jpg 2x"
                src="/topsallers/img03_368.jpg" 
                
                alt="Saller 3" 
                width="368" height="464"
                loading="lazy"
                >
            </li>
        </ul>
        
        <button class="button bay-now-button" type="button" data-modal-open>Buy now</button>
        
    </div>
</section>