.advantages-section {
    padding-bottom: 72px;
}

.advantage-container {
    /* min-width: 320px; */
    background-color: var(--dark-purple-color);
    margin: 0px auto;
    padding: 10px;
}
@media only screen and (max-width:375px) {
    .advantage-container {
        width: 374px;
        padding: 20px;
    }

}
@media only screen and (min-width:768px) {
    .advantage-container {
        width: 768px;
        padding: 50px 32px;
    }
    .advantages-section {
        padding-bottom: 100px;
    }
}

@media only screen and (min-width:1200px) {

    .advantage-container {
        width: 1200px;
        margin: 0 auto;
        
        /* margin-bottom: 128px; */
    }
    .advantages-section {
        padding-bottom: 128px;
    }
}


.advantage-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:768px) {
    .advantage-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 18px;

    }
}

@media only screen and (min-width:1200px) {
    .advantage-list {
        justify-content: center;
        column-gap: 70px;
    }
}


.advanatage-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

@media only screen and (min-width:1200px) {
    .advanatage-content:not(:last-child):after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

    width: 124px;
    height: 0px;

    border: 1px solid rgba(255, 255, 255, 0.5);
}
}

.content-conteiner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 28px;
}

@media only screen and (min-width:1200px) {
    .content-conteiner {
        position: relative;
        padding-right: 18px;
    }
}

.svg-bg {
    position: relative;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;
    padding: 7px;
}

.advantages-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(253, 146, 34, 1);
}


.advantages-sub-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.advantages-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    width: 308px;
}