
.hero {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 72px;
  padding-top: 84px;

  color: var(--pure-white);
}

.hero-container {
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/hero-icons/chocolate-deskop1@1x.jpg);
}
  
.hero-container {
  padding-top: 381px;
  padding-bottom: 117px;
  }
  
  .hero-section{
  width: 1136px;
  height: 600px;
  left: 32px;
  top: 80px;
  
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  
  
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
  url(/hero-icons/chocolate-covered-cocoa-powder1@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  border-radius: 30px;
}

  
  .hero-text{
    margin-right: 572px;
    margin-left: 40px;
  

  text-align: left;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
}

.hero-title {
  min-height: 428px;
  margin-bottom: 32px;
  padding-top: 325px;

  letter-spacing: -0.03em;
  font-weight: 500;
  font-size: 20px;
}

.hero-list {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  align-items: center;
}

.buy-button {
  min-width: 180px;
  padding: 12px 28px;

  font-size: 14px;
  color: var(--pure-white);
  background: var(--orange-color);

}

.primary-button{
  width: 144px;
  height: 45px;
  font-weight: 600;

  border-radius: 100px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button:hover,
.buy-button:focus{
  color: var(--orange-color);
  background: #FCF1E0;
}

.how-its-made-button {
  display: block;
  min-width: 180px;
  padding: 12px 28px;
  border: 1px solid var(--pure-white);

  border-radius: 100px;
  color: var(--pure-white);
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll {
  margin-left: auto;

  cursor: pointer;
}

.scroll-box {
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;

  background-color: transparent;
  color: inherit;
  font-family: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  border-radius: 50%;

  background: var(--pure-white);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-scroll {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-its-made-button:hover,
.how-its-made-button:focus {
  color:  var(--orange-color)2;
  background-color: #e2e2e2;
}

.scroll:hover .scroll-box,
.scroll:focus .scroll-box {
  color: var(--orange-color);
}

.scroll:hover .scroll-button,
.scroll:focus .scroll-button {
  background: var(--orange-color);
}

.scroll:hover .svg-scroll,
.scroll:focus .svg-scroll {
  fill: var(--pure-white);
}

.top-btn {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-container {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-mobile1@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 375px) {
  .main-container {
    max-width: 335px;
  }
  .hero-title {
    padding-top: 390px;
    min-height: auto;
  }
  .buy-button {
    min-width: 120px;
  }
  .how-its-made-button {
    min-width: 160px;
  }
  .hero-list {
    gap: 32px 14px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 50px;
  }
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-tablet1@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 704px;
    height: 890px;
  }
  .hero-title {
    max-width: 484px;
    padding-top: 670px;

    font-size: 28px;
  }
  .buy-button {
    min-width: 144px;
  }
  .how-its-made-button {
    min-width: 183px;
  }
  .scroll-button {
    width: 38px;
    height: 38px;
  }
  .svg-scroll {
    width: 16px;
    height: 16px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/hero-icons/chocolate-tablet1@2x.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 72px;
  }
  .main-container {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-deskop1@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1136px;
    height: 600px;
  }
  .hero-title {
    padding-top: 380px;
  }
  .top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 2px solid #fd9222;
    justify-content: center;
    align-items: center;

    outline: none;
    background-color: transparent;
    border-radius: 50%;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-btn:hover,
  .top-btn:focus {
    transform: scale(1.15);
    background-color: #fd9222;
  }
  .top-btn:hover .top-btn-icon,
  .top-btn:focus .top-btn-icon {
    fill: #ffffff;
  }
  .top-btn.show {
    display: flex;
  }
  .top-btn-icon {
    transform: rotate(180deg);

    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/hero-icons/chocolate-desktop1@2x.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

 