button{
    cursor: pointer;
  }

  .hero-container{
 padding-top: 381px;
 padding-bottom: 117px;
  }
  
  .hero-section{
    width: 1136px;
  height: 600px;
  left: 32px;
  top: 80px;
  
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  
  
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
  url(/hero-icons/chocolate-covered-cocoa-powder1@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  
  }
  
  .hero-text{

    margin-right: 572px;
    margin-left: 40px;
  

  text-align: left;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.03em;
  

    color: #FFFFFF;
  }

  @media only screen and (min-width: 768px) {
    .hero-text {
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-section-title {
        margin-bottom: 48px;
    }
}

  
  .orange-btn{
    flex-direction: row;
    align-items: flex-start;
    margin-left: 40px;
    gap: 14px;
    padding: 0px;
  
    font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
    width: 144px;
    height: 45px;
    
    color: #FFFFFF;
    background: #FD9222;
    border-radius: 100px;

    margin-top: 32px;
    
  }

  .orange-btn:hover,
  .orange-btn:focus{
    background-color: #ed0c0c;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .second-btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    width: 103px;
  height: 17px;

  box-sizing: border-box;
  
    flex-direction: row;
  align-items: flex-start;
  gap: 14px;
  padding: 0;
  margin-left: 14px;
 
  
  width: 183px;
  height: 45px;
  
  color: #FFFFFF;
border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: none;
  }
  

.scrolling{
}

  .scroll-down{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
    margin-right: 92px;
  text-align: right;

    color: #FFFFFF;
    flex-direction: column;
  }
  
  
  .scroll-icon{
position: relative;
bottom:85px;
    color: #FD9222;
    background-color: #FFFFFF;
    fill: currentColor;
   border-radius: 100px;
   margin-left: 1070px;
   cursor: pointer;
   

  }

/* HERO SECTION */

  @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
            url(/hero-icons/chocolate-covered-cocoa-powder2@2x.jpg);
    }
}

@media only screen and (min-width: 429px) {
    .hero-section {
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
            url(../hero-icons/chocolate-covered-cocoa-powder2@2x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
          background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
                url(../hero-icons/chocolate-covered-cocoa-powder2@2x.jpg);
        }
    }
}



@media only screen and (min-width: 768px) {
  .hero-section {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
          url(../hero-icons/chocolate-covered-cocoa-powder1@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero-section {
        background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
              url(../hero-icons/chocolate-covered-cocoa-powder2@2x.jpg);
      }
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
      max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section {
      padding-top: 188px;
      padding-bottom: 188px;
      max-width: 1158px;
  }
}



 