.hero {
  margin: 0 auto;
  padding-bottom: 72px;
  color: var(--pure-white);
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 72px;
  }
}

/* Background mobile */
.hero-container {
  min-height: 621px;
  display: flex;
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/hero-icons/chocolate-mobile1@1x.jpg);
  border-radius: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-mobile1@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Background tablet */
@media only screen and (min-width: 768px) {
  .hero-container {
    min-height: 890px;
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-tablet1@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/hero-icons/chocolate-tablet1@2x.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

/* Background desctop */
@media only screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1136px;
    min-height: 600px;
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/hero-icons/chocolate-deskop1@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url(/hero-icons/chocolate-desktop1@2x.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hero-title {
  min-width: 200px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;

  text-align: center;
  letter-spacing: -0.03em;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.2;
}

@media only screen and (min-width: 375px) {
  .hero-title {
    width: 295px;
    text-align: start;
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    width: 484px;
    font-size: 28px;
  }
}

.hero-content {
  margin-top: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-content {
    margin-top: auto;
    width: 100%;
  }
}

.hero-list {
  display: flex;
  row-gap: 32px;
  column-gap: 14px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 375px) {
  .hero-list {
    justify-content: flex-start;
  }
}

/* Position scroll-button */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .hero-item.scroll {
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 375px) {
  .hero-item.scroll {
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .hero-item.scroll {
    margin-left: auto;
    margin-right: 0;
  }
}

.buy-button {
  min-width: 120px;
  padding: 12px 28px;

  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background: var(--orange-color);
  border-radius: 100px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .buy-button {
    min-width: 144px;
    padding: 14px 40px;
  }
}

.buy-button:hover,
.buy-button:focus {
  color: var(--orange-color);
  background: #fcf1e0;
}

.how-its-made-button {
  display: block;
  min-width: 159px;
  padding: 12px 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .how-its-made-button {
    min-width: 183px;
  }
}

.scroll {
  cursor: pointer;
}

.scroll-box {
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;

  background-color: transparent;
  color: inherit;
  font-family: inherit;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 6px;

  border-radius: 50%;

  background: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .scroll-button {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}

.svg-scroll {
  width: 16px;
  height: 16px;

  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .svg-scroll {
    width: 22px;
    height: 22px;
  }
}

/* Actions */
.how-its-made-button:hover,
.how-its-made-button:focus {
  color: #fd9222;
  background-color: #e2e2e2;
}

.scroll:hover .scroll-box,
.scroll:focus .scroll-box {
  color: var(--orange-color);
}

.scroll:hover .scroll-button,
.scroll:focus .scroll-button {
  background: var(--orange-color);
}

.scroll:hover .svg-scroll,
.scroll:focus .svg-scroll {
  fill: #ffffff;
}

.top-btn {
  display: none;
}

/* Desktop button */
@media only screen and (min-width: 1200px) {
  .top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 2px solid #fd9222;
    justify-content: center;
    align-items: center;

    outline: none;
    background-color: transparent;
    border-radius: 50%;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .top-btn:hover,
  .top-btn:focus {
    transform: scale(1.15);
    background-color: #fd9222;
  }
  .top-btn:hover .top-btn-icon,
  .top-btn:focus .top-btn-icon {
    fill: #ffffff;
  }
  .top-btn.show {
    display: flex;
  }
  .top-btn-icon {
    transform: rotate(180deg);

    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
