/* Common styles for How its made section */
.production {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .production {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .production {
    margin-bottom: 128px;
  }
}
.production-container {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 375px;
}
@media only screen and (min-width: 768px) {
  .production-container {
    padding: 0 77px;
    max-width: 768px;
  }
}
@media only screen and (min-width: 1200px) {
  .production-container {
    padding: 0 32px;
    max-width: 1200px;
  }
}
/* How its made title */
.production-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .production-title {
    margin-bottom: 50px;
  }
}
.production-highlight {
  color: #fd9222;
}
.production-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.screenshot-thumb {
  position: relative;
  width: 335px;
  height: 500px;

  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
}
.screenshot-thumb > img {
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .screenshot-thumb {
    width: 614px;
    height: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  .screenshot-thumb {
    width: 600px;
  }
}

.play-btn {
  width: 35px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .play-btn {
    width: 44px;
    height: 44px;
  }
}
.play-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* How its made picture */

/* How its made description */
.production-process {
  max-width: 335px;
  padding: 20px 14px;
}
@media only screen and (min-width: 768px) {
  .production-process {
    max-width: 614px;
    padding: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .production-process {
    max-width: 516px;
  }
}
.production-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .production-subtitle {
    margin-bottom: 28px;
    max-width: 350px;
  }
}
.production-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.production-list-item:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 1200px) {
  .production-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.production-list-item {
  position: relative;
  margin-left: 16px;
}
.production-list-item::before {
  position: absolute;
  top: 5px;
  left: -8px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
  transform: translateX(-100%);
}
