/* slider */

.itc-slider-wrapper {
	overflow: hidden;
}

.itc-slider-item {
	flex: 0 0 100%;
	padding: 32px 51px;

	text-align: center;

	background-color: var(--box);
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 15px;
}

@media screen and (min-width: 768px) {
	.itc-slider-item {
		flex: 0 0 40%;
		padding: 32px 19px;
		/* margin-right: 18px; */
	}
}

@media screen and (min-width: 1200px) {
	.itc-slider-item {
		flex: 0 0 25%;
		/* margin-right: 18px; */
	}
}

.itc-slider-items {
	width: 335px;
	margin-bottom: 20px;

	display: flex;
	gap: 18px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
	.itc-slider-items {
		width: 270px;
		margin-bottom: 32px;
	}
}

/* индикаторы */
.itc-slider-indicators {
	display: flex;
	gap: 13px;
	justify-content: center;
}

.itc-slider-indicator {
	flex: 0 1 auto;
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border-radius: 6px;
	background-color: rgba(17, 17, 17, 0.1);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itc-slider-indicator-active {
	width: 28px;
	background-color: var(--accent);
}

/* =============================
section ==================== */

.section-products {
	background-color: var(--background);
}

.container-products {
	width: 375px;

	padding: 36px 20px;
	margin: 0 auto;
}
@media screen and (min-width: 375px) {
	.container-products {
		min-width: 375px;
	}
}

@media screen and (min-width: 768px) {
	.container-products {
		min-width: 768px;
		padding: 36px 32px;
	}
}

@media screen and (min-width: 1200px) {
	.container-products {
		min-width: 1200px;
	}
}

.section-header {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	color: var(--black);
	text-align: center;
	text-transform: uppercase;

	margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
	.section-header {
		font-size: 24px;
		line-height: 1.17;
	}
}

.orange-txt {
	color: var(--accent);
}

.prod-image {
	display: block;

	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
}

.prod-name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: var(--black);

	margin-bottom: 2px;
}

.prod-sort {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: -0.02em;

	color: rgba(17, 17, 17, 0.7);

	margin-bottom: 18px;
}

.prod-price-btn {
	width: 94px;

	padding-top: 8px;
	padding-bottom: 8px;

	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;

	background: var(--background);
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 100px;

	cursor: pointer;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prod-price-btn:hover {
	background: #fcf1e0;
	border-color: rgba(253, 146, 34, 0.1);
	color: var(--accent);
}
