.section-products {
  background-color: var(--background);
}

.container-products {
  width: 375px;

  padding: 36px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container-products {
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container-products {
    min-width: 768px;
    padding: 36px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container-products {
    min-width: 1200px;
  }
}

.section-header {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section-header {
    font-size: 24px;
    line-height: 1.17;
  }
}

.orange-txt {
  color: var(--accent);
}

.products {
  width: 335px;

  margin: 0 auto;

  overflow: hidden;

  display: flex;

  transition: overflow 1s ease;
}

@media screen and (min-width: 768px) {
  .products {
    width: 100%;

    overflow: visible;

    gap: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    width: 1136px;
    overflow: hidden;
  }
}

.prod-item {
  padding: 32px 52px;

  text-align: center;

  background-color: var(--box);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .prod-item {
    padding: 32px 19px;
  }
}

.prod-image {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.prod-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--black);

  margin-bottom: 2px;
}

.prod-sort {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);

  margin-bottom: 18px;
}

.prod-price-btn {
  width: 94px;

  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;

  background: var(--background);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prod-price-btn:hover {
  background: #fcf1e0;
  border-color: #fcf1e0;
  color: var(--accent);
}
