
/* =============================
section our product ==================== */
.section-products {
	background-color: var(--background);
}

.container-products {
	width: 375px;
  
	padding: 0 20px 72px 20px;
	margin: 0 auto;
}
@media screen and (min-width: 375px) {
	.container-products {
		min-width: 375px;
	}
}

@media screen and (min-width: 768px) {
	.container-products {
		min-width: 768px;
		padding: 0 32px 100px 32px;
	}
}

@media screen and (min-width: 1200px) {
	.container-products {
		min-width: 1200px;
		padding: 0 32px 128px 32px;
	}
}

.section-header {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.03em;
	color: var(--black);
	text-align: center;
	text-transform: uppercase;

	margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
	.section-header {
		font-size: 24px;
		line-height: 1.17;
	}
}

.prod-thumb {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .prod-thumb {
    overflow: hidden;
  }
  
}

@media screen and (min-width: 1200px) {
  .prod-thumb {
    overflow: hidden;
  }
  
}


.orange-txt {
	color: var(--accent);
}

.prod-image {
	display: block;

	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8px;
}

.prod-name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: var(--black);

	margin-bottom: 2px;
}

.prod-sort {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: -0.02em;

	color: rgba(17, 17, 17, 0.7);

	margin-bottom: 18px;
}

.prod-price {
	align-self: center;
	width: 94px;

	padding-top: 8px;
	padding-bottom: 8px;

	margin: 0 auto;


	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	color: var(--black);
	text-transform: uppercase;

	text-align: center;


	background: var(--background);
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 100px;

	cursor: pointer;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prod-price-btn:hover {
	background: #fcf1e0;
	border-color: rgba(253, 146, 34, 0.1);
	color: var(--accent);

}

/* ------------------slider--------------- */

.prod-items {
	margin-bottom: 28px;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
	.prod-items {
		margin-bottom: 40px;
	}
}

.prod-item {
	padding: 32px 51px;

	text-align: center;

	background-color: var(--box);
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 15px;
}

@media screen and (min-width: 768px) {
	.prod-item {
		padding: 32px 19px;
	}
}

/* индикаторы */
.swiper-pagination-bullets {
	display: flex;
	gap: 13px;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-bullet {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	border-radius: 6px;
	background-color: rgba(17, 17, 17, 0.3);
	cursor: pointer;
	transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-bullet-active {
	width: 28px;
	background-color: var(--accent);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



