.section-review {
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .section-review {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-review {
    padding-bottom: 128px;
  }
}

.container-review {
  margin: 0 auto;
  padding: 0 20px;
  width: 375px;

}

@media screen and (min-width: 375px) {
  .container-review {
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container-review {
    min-width: 768px;
    padding: 36px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container-review {
    min-width: 1200px;
  }
}

.title-review {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 90px;
}

@media screen and (min-width: 768px) {
  .title-review {
    font-size: 24px;
    line-height: 1.17;
  }
}

.review-thumb {
  overflow: hidden;
}

.different-logo {
  color: var(--logo-light-color);
}

.review-list {

  position: relative;
  padding-left: 0;
  padding-top: 50px;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .review-list {
    margin-bottom: 40px;
  }
}

.review-item {
  /* display: flex;
  flex-wrap: wrap;
  text-align: center; */
  position: relative;
  text-align: center;
  width: 360px;
  height: 200px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  background-color: #FFFFFF;

  /* display: flex;
  flex-wrap: wrap;
  gap: ; */
  padding: 0 24px;

}

.review-img {
  display: inline-block;
  position: relative;
  /* margin: auto; */
  top: -50px;
}

.review-info {
  /* display: inline-block; */
  margin-top: -32px;
}

.review-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.main-review {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.btn-review {
  display: block;
  margin: 0 auto;
  border: 1px solid #FD9222;
  border-radius: 100px;
  padding: 14px 40px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 32px;

  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 768px) {
  .btn-review {
    margin-top: 50px;
  }
}

.btn-review:hover,
.btn-review:focus {
  color: #FFFFFF;
  background-color: #FD9222;
}


/*=====  swiper  ======*/