/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./buy-now.css');
@import url('./leave-review.css');
@import url('./explore-chocolate.css');

:root {
  /* Загальний шрифт */
  --main-font-family: 'Montserrat', sans-serif;

  /* Загальний колір тексту */ 
  --main-text-color: #111111;
  
  /* Загальний колір фону */
  --main-background-color: #FAFAFA;

  /* Footer */
    --white-color: #FAFAFA;
    --orange-color: #FD9222;
    --dark-purple-color: #1E1823;
}
