/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./buy-now.css');
@import url('./modal-review.css');
@import url('./modal-sub.css');

:root {
  /* Загальний шрифт */
  --main-font-family: 'Montserrat', sans-serif;

  /* Загальний колір тексту */
  --main-text-color: #111111;

  /* Загальний колір фону */
  --main-background-color: #fafafa;

  /*Reviews section */
  --logo-light-color: #fd9222;

  /* Footer */
    --white-color: #FAFAFA;
    --orange-color: #FD9222;
    --dark-purple-color: #1E1823;
    
/* our product */
    --black: #111111;
    --dark: #1E1823;
    --accent: #FD9222;
    --background: #FAFAFA;
    --box: #FFFFFF;

    /* Hero section */
    --pure-white: #FFFFFF;

    /*unique-components*/
    --white-text-color: #ffffff;
    --white-background-color: #ffffff;
    --light-gray-color: #fafafa;

    --white-text-color: #FFFFFF;

    /* Modal Byu-now -*/
    --header-idx: 10;
    --modal-idx: 100;
}
