.container-section {
    position: absolute;
    width: 1200px;
    height: 370px;
    left: 0px;
    top: 4414px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Subcribe.jpg);
}

.title-text {
    width: 378px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
}

.main-text {
    width: 467px;
    height: 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0 auto;
    color: white;

}

.subscribe-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 40px;
    gap: 14px;
    /* min-width: 172px; */
    /* min-height: 50px; */
    background: #FD9222;
    border-radius: 100px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}